@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  @apply transition-all;
}
.font-serif {
  font-family: "Crimson Text", serif;
}

.font-sans {
  font-family: "Rubik", sans-serif;
}

.font-mono {
  font-family: "Jetbrains Mono", monospace;
}
::selection{
  background-color: #f56565;
  color: #fff;
}