---
import removeTrailingSlash from "@/utils/removeTrailingSlash";

const pathname = removeTrailingSlash(Astro.url.pathname);
---

<header class="z-40 flex w-full flex-col gap-2 md:flex-row md:justify-between">
  <nav role="navigation">
    <ul role="list" class="flex flex-row gap-2">
      <li>
        <a
          href="/"
          class:list={{
            ["hover:opacity-100"]: true,
            ["opacity-100"]: pathname === "/",
          }}>Home</a
        >
      </li>
      <li>/</li>
      <li>
        <a
          href="/posts"
          class:list={{
            ["hover:opacity-100"]: true,
            ["opacity-100"]: pathname === "/posts",
          }}>Posts</a
        >
      </li>
    </ul>
  </nav>
  <button id="theme-toggle"><span>Light</span> / <span>Dark</span></button>
</header>
<script defer>
  // Retrieve the theme value from local storage
  var theme = localStorage.getItem("theme") || "light";
  // Set the theme class on the body element
  const body = document.body;
  if (theme === "dark") {
    body.classList.add("dark");
  }
  // Add click event listener for theme toggle
  const themeToggle = document.getElementById("theme-toggle");
  themeToggle.addEventListener("click", () => {
    // Toggle the theme and update the body class
    if (theme === "light") {
      theme = "dark";
      body.classList.add("dark");
    } else {
      theme = "light";
      body.classList.remove("dark");
    }
    // Update local storage with the new theme value
    localStorage.setItem("theme", theme);
  });
</script>
