---
import removeTrailingSlash from "@/utils/removeTrailingSlash";

const pathname = removeTrailingSlash(Astro.url.pathname);
---

<header class="z-40 flex w-full gap-2 justify-between">
  <nav role="navigation">
    <ul role="list" class="flex flex-row gap-2">
      <li>
        <a
          href="/"
          class:list={{
            ["hover:underline"]: true,
            ["underline"]: pathname === "/",
          }}>Home</a
        >
      </li>
      <li>/</li>
      <li>
        <a
          href="/posts"
          class:list={{
            ["hover:underline"]: true,
            ["underline"]: pathname === "/posts",
          }}>Posts</a
        >
      </li>
    </ul>
  </nav>
  <div>
  <button id="theme-toggle"><span id="light-label" >Light</span > <span >/</span> <span id="dark-label" >Dark</span></button>
  <span>|</span>
  <button id="font-toggle"><span id="sans-label" >Sans</span > <span >/</span> <span id="serif-label" >Serif</span></button>
</div>
</header>
<script defer>
  var theme = localStorage.getItem("theme") || "light";
  const lightLabel = document.getElementById("light-label");
  const darkLabel = document.getElementById("dark-label");
  const body = document.body;
  if (theme === "dark") {
    body.classList.add("dark");
    darkLabel.classList.remove("underline");
    lightLabel.classList.add("underline");
  }
  if (theme === "light") {
    lightLabel.classList.remove("underline");
    darkLabel.classList.add("underline");
  }
  const themeToggle = document.getElementById("theme-toggle");
  themeToggle.addEventListener("click", () => {
    if (theme === "light") {
      theme = "dark";
      darkLabel.classList.remove("underline");
      lightLabel.classList.add("underline");
      body.classList.add("dark");
    } else {
      theme = "light";
      lightLabel.classList.remove("underline");
      darkLabel.classList.add("underline");
      body.classList.remove("dark");
    }
    localStorage.setItem("theme", theme);
  });
  var font = localStorage.getItem("font") || "serif";
  const sansLabel = document.getElementById("sans-label");
  const serifLabel = document.getElementById("serif-label");
  if (font === "sans") {
    sansLabel.classList.remove("underline");
    serifLabel.classList.add("underline");
    body.classList.add("sans");
  }
  if (font === "serif") {
    serifLabel.classList.remove("underline");
    sansLabel.classList.add("underline");
    body.classList.remove("sans");
  }
  const fontToggle = document.getElementById("font-toggle");
  fontToggle.addEventListener("click", () => {
    if (font === "sans") {
      font = "serif";
      serifLabel.classList.remove("underline");
      sansLabel.classList.add("underline");
      body.classList.remove("sans");
    } else {
      font = "sans";
      sansLabel.classList.remove("underline");
      serifLabel.classList.add("underline");
      body.classList.add("sans");
    }
    localStorage.setItem("font", font);
  });

</script>
