---
import removeTrailingSlash from "@/utils/removeTrailingSlash";

const pathname = removeTrailingSlash(Astro.url.pathname);
var duplicate = pathname.split("/").slice(-1)[0];
if (duplicate === "posts") {
  duplicate = "";
}

---

<header
  class="z-40 flex md:flex-row flex-col md:bg-transparent dark:md:bg-transparent bg-dawn-base dark:bg-moon-base w-full gap-2 justify-between font-mono text-dawn-subtle dark:text-moon-subtle px-6 fixed md:top-6 top-0 overflow-x-scroll whitespace-nowrap overflow-y-visible p-2 max-w-4xl translate-">
  <nav role="navigation" class="bg-dawn-base dark:bg-moon-base shadow-md">
    <ul role="list" class="flex flex-row gap-2 p-2">
      <li>
        <a
          href="/"
          class:list={{
            ["hover:text-dawn-text hover:dark:text-moon-text"]: true,
            ["text-dawn-text dark:text-moon-text"]: pathname === "/",
          }}>Home</a
        >
      </li>
      <li>/</li>
      <li>
        <a
          href="/posts"
          class:list={{
            ["hover:text-dawn-text hover:dark:text-moon-text"]: true,
            ["text-dawn-text dark:text-moon-text"]: pathname === "/posts",
          }}>Posts</a
        >
      </li>
      <li>/</li>
      <li class="text-dawn-text dark:text-moon-text md:block hidden">{duplicate}</li>
    </ul>
  </nav>
  <div class="bg-dawn-base dark:bg-moon-base shadow-md p-2">
    <button id="theme-toggle"
      ><span id="light-label">Light</span>
      <span>/</span>
      <span id="dark-label">Dark</span></button
    >
    <span>|</span>
    <button id="font-toggle"
      ><span id="sans-label">Sans</span>
      <span>/</span>
      <span id="serif-label">Serif</span></button
    >
  </div>
</header>
<script defer>
  var theme = localStorage.getItem("theme") || "light";
  const lightLabel = document.getElementById("dark-label");
  const darkLabel = document.getElementById("light-label");
  const body = document.body;
  if (theme === "dark") {
    body.classList.add("dark");
    darkLabel.classList.remove("text-dawn-text", "dark:text-moon-text");
    lightLabel.classList.add("text-dawn-text", "dark:text-moon-text");
  }
  if (theme === "light") {
    lightLabel.classList.remove("text-dawn-text", "dark:text-moon-text");
    darkLabel.classList.add("text-dawn-text", "dark:text-moon-text");
  }
  const themeToggle = document.getElementById("theme-toggle");
  themeToggle.addEventListener("click", () => {
    if (theme === "light") {
      theme = "dark";
      darkLabel.classList.remove("text-dawn-text", "dark:text-moon-text");
      lightLabel.classList.add("text-dawn-text", "dark:text-moon-text");
      body.classList.add("dark");
    } else {
      theme = "light";
      lightLabel.classList.remove("text-dawn-text", "dark:text-moon-text");
      darkLabel.classList.add("text-dawn-text", "dark:text-moon-text");
      body.classList.remove("dark");
    }
    localStorage.setItem("theme", theme);
  });
  var font = localStorage.getItem("font") || "serif";
  const sansLabel = document.getElementById("sans-label");
  const serifLabel = document.getElementById("serif-label");
  if (font === "sans") {
    sansLabel.classList.remove("text-dawn-text", "dark:text-moon-text");
    serifLabel.classList.add("text-dawn-text", "dark:text-moon-text");
    body.classList.add("font-serif");
  }
  if (font === "serif") {
    serifLabel.classList.remove("text-dawn-text", "dark:text-moon-text");
    sansLabel.classList.add("text-dawn-text", "dark:text-moon-text");
    body.classList.remove("font-serif");
  }
  const fontToggle = document.getElementById("font-toggle");
  fontToggle.addEventListener("click", () => {
    if (font === "sans") {
      font = "serif";
      serifLabel.classList.remove("text-dawn-text", "dark:text-moon-text");
      sansLabel.classList.add("text-dawn-text", "dark:text-moon-text");
      body.classList.remove("font-serif");
    } else {
      font = "sans";
      sansLabel.classList.remove("text-dawn-text", "dark:text-moon-text");
      serifLabel.classList.add("text-dawn-text", "dark:text-moon-text");
      body.classList.add("font-serif");
    }
    localStorage.setItem("font", font);
  });
</script>
