---
import formatDate from "@/utils/formatDate";

type Props = {
  title: string;
  publishedAt: Date;
  description: string;
  slug: string;
};

const { title, publishedAt, description, slug } = Astro.props;
---

<a
  class="group flex max-w-sm cursor-pointer flex-col gap-2 rounded-md border-2 border-dawn-highlightHigh dark:border-moon-highlightHigh p-4 transition-all duration-300 hover:shadow-md  w-1/3 flex-grow"
  href={`/posts/${slug}`}
>
  <div
    class="flex w-full flex-col justify-between gap-2 md:flex-row md:items-center"
  >
    <p class="text-lg">{title}</p>
    <div class="flex flex-row items-center gap-4">
      <p>{formatDate(publishedAt)}</p>

      <svg
        width="18"
        height="18"
        viewBox="0 0 18 18"
        fill="none"
        class="transition-all duration-300 group-hover:translate-x-1 group-hover:-translate-y-1"
      >
        <path
          d="M5.25 12.75L12.75 5.25"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M5.25 5.25H12.75V12.75"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </div>
  </div>

  <p class="truncate text-dawn-subtle dark:text-moon-subtle">
    {description}
  </p>
</a>
<style>
  a.group:nth-child(1n){
    @apply hover:border-dawn-love dark:hover:border-moon-love;
  }
  a.group:nth-child(2n){
    @apply hover:border-dawn-gold dark:hover:border-moon-gold;
  }
  a.group:nth-child(3n){
    @apply hover:border-dawn-pine dark:hover:border-moon-pine;
  }
  a.group:nth-child(4n){
    @apply hover:border-dawn-foam dark:hover:border-moon-foam;
  }
  a.group:nth-child(5n){
    @apply hover:border-dawn-iris dark:hover:border-moon-iris;
  }
  a.group:nth-child(6n){
    @apply hover:border-dawn-pine dark:hover:border-moon-pine;
  }

</style>