---
---

<ul class="flex flex-row gap-2 font-mono">
  <a href="https://tnixc.space" class="">tnixc.space</a>
  <span>/</span>
  <a href="https://x.com/tnixc" class="">Tiwtter</a>
  <span>/</span>
  <a href="https://github.com/tnixc" class="">Github</a>
</ul>
