---
---

<ul class="flex md:flex-row flex-col gap-2 font-mono">
  <a href="https://tnixc.space" class="text-dawn-foam dark:text-moon-foam opacity-80 hover:opacity-100 transition-all hover:underline">tnixc.space</a>
  <span class="md:block hidden">|</span>
  <a href="https://x.com/_tnixc" class="hover:underline">Twitter</a>
  <span class="md:block hidden">|</span>
  <a href="https://github.com/tnixc" class="hover:underline">Github</a>
</ul>
