---
import Header from "../components/Header.astro";
import SEOTags from "@/components/seo/SEOTags.astro";
import type { HeadTags } from "@/utils/types/HeadTags";

import "@/styles/tailwind.css";
import "@/styles/post.css";

export type Props = HeadTags;

const headTags = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <SEOTags {...headTags} />
  <body
    class="min-h-screen bg-gradient-to-br from-moon-love via-moon-gold to-moon-foam bg-moon-rose"
  >
  <div class="dark:bg-moon-base/90 bg-dawn-base/90 text-dawn-text dark:text-moon-text h-full min-h-screen flex justify-center py-16">
    <div class="max-w-4xl w-full">
    <Header />
      <div class="p-5">
    <slot /></div>
    <style is:global>
    </style>
  </body>
</div>
</div>
</html>
